root{
    -fx-font-family:"Cambria";
    -fx-width: 100%;
    -fx-height:100%;
}

#imageBorderPane{
    -fx-width:50%;
    -fx-height:100%
}

#main{
    -fx-width:100%;
    -fx-height:100%;
}

#menuPane{
    -fx-background-color:green;
}

#imageSideBar{
    -fx-width:40%;
    -fx-height:100%;
}

#loginPage{
    -fx-height:100%;
}

#productsButton,#ordersButton,#rawMaterialsButton,#reportsButton{
    -fx-width:200px;
    -fx-height:300px;
    -fx-padding:10px;
}